.repo-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.repo-form input {
  width: 500px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #1e293b;
  color: white;
  font-size: 16px;
}

.repo-form button {
  padding: 14px 25px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
}